body {
    background: #000;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    max-width: 40%;
    scale: 0.8;
}

.login {
    min-height: 18px;
    min-width: 18px;
    margin-left: 5em;
}

.cart {
    min-height: 20px;
    min-width: 20px;
    margin-right: 5em;

}

.image-forward,
.image-backward,
.help {
    min-height: 30px;
    min-width: 30px;
}

.image-backward {
    rotate: 180deg;
}

.image-forward:hover,
.image-backward:hover,
.help:hover,
.login:hover,
.cart:hover {
    cursor: pointer;
}

.carousel {
    aspect-ratio: 15/8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.carousel img {
    height: auto;
    width: 100%;
    scale: 7.5;
}

.footer {
    min-height: 50px;
}


.help-info {
    position: fixed;
    width: 45%;
    height: 35%;
    z-index: 1;
    left: 27%;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.help-info.show {
    opacity: 1;
}

.close-help {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.help-info-content {
    flex-direction: column;
    background-color: #FFF;
    color: #000;
    margin: 15px;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 25px;
    width: 100%;
    height: auto;
    font-size: large;
    text-align: center;
}

.register-container,
.login-container {
    width: 70%;
    max-width: 500px;
}

.email-field,
.password-field, 
.username-field {
    border-radius: 0;
    background-color: #FFF;
    color: #000;
}

.login-button {
    width: 70%;
    background-color: #FFF;
    border-radius: 0;
    color: #000;
    border: 2px solid #000;
    transition: color 0.2s ease, 
                background-color 0.2s ease,
                border 0.2s ease;
}

.login-button:hover {
    background-color: #222;
    color: #DDD;
    border: 2px solid #222;
}

.switch-login-function {
    background: radial-gradient(#666, 20%, #00000000, 60%, #00000000);
}

.shiny-link {
    color: #FFF;
    text-shadow: 0px 0px 15px #000;
    transition: text-shadow 0.2s ease;
}

.shiny-link:hover {
    color: #FFF;
    text-shadow: 0px 0px 15px #FFF;
}

@media screen and (max-width: 991px) {

    .login {
        margin-left: 6em;
    }

    .cart {
        margin-right: 6em;
    }

    .logo {
        scale: 1.3;
    }

    .image-forward,
    .image-backward,
    .help {
        min-height: 50px;
        min-width: 50px;
        margin: 1rem;
    }
    .help-info {
        width: 60%;
        height: 30%;
        left: 18%;
        scale: 0.8;
    }
}

@media screen and (max-width: 767px) {

    .login {
        margin-left: 1em;
    }

    .cart {
        margin-right: 1em;
    }

    .logo {
        scale: 1.5;
    }

    .header {
        margin: 1svh 0;
    }

    .carousel {
        width: 100%;
        height: 80svh;
    }

    .carousel img {
        scale: 23;
    }

    .carousel-footer {
        height: 10svh;
    }

    .help-info {
        width: 100%;
        height: 15%;
        left: -3%;
        top: 10%;
    }
}
